<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>

<div class="page">

    <div class="header">
        <nav class="navbar navbar-expand " style="padding: 2em">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="/img/logo.ico" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" >
                <div class="navbar-nav">
                    <a class="nav-link active" href="/">O nama</a>

                    <a class="nav-link" href="/menu">Meni</a>
                    <a class="nav-link" href="/contact">Kontakt</a>

                </div>
            </div>
        </nav>

        <div class="header-container text-center">
                <div class>
                    <h1>404</h1>
                    <h2 >Stranica koju trazite nije pronadjena   </h2>
                    <button class="back-to-home-btn" onclick="location.href='/'">VRATI SE NA POCETNU</button>
                </div>
        </div>
    </div>
</div>
</body>
</html>
