<!doctype html>
<html lang="en">

<head>

    <%- include('header.ejs') -%>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>

<div class="header-div">
    <div class="header-container">
        <div class="row">
            <div class="col-sm left-header-col">
                <h4>Lorem ipsum dolor</h4>
                <h1>Lorem ipsum dolor <br> nunc</h1>
                <button class="header-btn">Pogledaj meni</button>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col" style="padding-top: 5em">
                        <img class="img-fluid" src="/img/cc307fec7dce8929bd73e817e50d2d9a-removebg-preview.png">
                    </div>
                    <div class="col">
                        <div class="col">
                            <img class="img-fluid" src="/img/54-545849_dinner-food-png-freeuse-stock-plate-of-food.png">
                        </div>
                        <div class="col">

                            <img class="img-fluid" src="/img/Vegan-Food-PNG-Free-Download.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
