<!doctype html>
<html lang="en">

<head>

    <%- include('header.ejs') -%>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>

<div class="header-div">
    <div class="header-container">
        <div class="row">
            <div class="col-sm left-header-col">
                <h4>- Stara Avlija</h4>
                <h1>Dobrodošli</h1>
                <h4>Uživajte u ukusima domaće kuhinje</h4>
                <button class="header-btn">Pogledaj meni</button>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col" style="padding-top: 5em">
                        <img class="img-fluid" src="/img/cc307fec7dce8929bd73e817e50d2d9a-removebg-preview.png">
                    </div>
                    <div class="col">
                        <div class="col">
                            <img class="img-fluid" src="/img/54-545849_dinner-food-png-freeuse-stock-plate-of-food.png">
                        </div>
                        <div class="col">

                            <img class="img-fluid" src="/img/Vegan-Food-PNG-Free-Download.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-div">
    <div class="about-container">
        <h1>O nama</h1>
        <div class="divider"></div>
        <div class="row" style="padding-top: 10em">
            <div class="col-sm text-right">
                <img class="img-fluid" src="/img/pan-with-food.png">
            </div>
            <div class="col-sm">
                <h1>Kratka istorija  </h1>
                <p>Stara Avlija uslužuje svoje cenjene goste već dugi niz godina i trudi se da svaki Vaš trenutak učini lepšim. <br> Na raspolaganju su Vam brojna jela domaće kuhinje koja ćete pamtiti. Pozivamo Vas da dodjete i uživate u našoj kuhinji.</p>
            </div>
        </div>
    </div>
</div>

<div class="container orange-div text-center">
    <h2 class=""> <br> </h2>
    <p>Razuman se hrani da živi, a lud živi samo da se hrani i goji.</p>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffa900" fill-opacity="1" d="M0,96L30,128C60,160,120,224,180,250.7C240,277,300,267,360,218.7C420,171,480,85,540,58.7C600,32,660,64,720,90.7C780,117,840,139,900,149.3C960,160,1020,160,1080,170.7C1140,181,1200,203,1260,197.3C1320,192,1380,160,1410,144L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>



</body>

</html>
